services:
    
  ms-compras:
      image: ms-compras:1.0.0
      container_name: ms-compras
      env_file: [".env"]
      ports:
        - "3002:3002"
      networks:
        patronSaga-network:
          aliases:
            - compras.localhost
      environment:
        - COMPRAS_PORT=3002
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.ms-compras.rule=PathPrefix(`/api/v1/compra`)"
        - "traefik.http.routers.ms-compras.entrypoints=http"
        - "traefik.http.services.ms-compras.loadbalancer.server.port=3002"
        - "traefik.docker.network=patronSaga-network"

networks:
  patronSaga-network:
    name: patronSaga-network
    external: true